---
---

@import 'jekyll-theme-cayman';

p {
    // /* 字间距 1 */
    // letter-spacing: 1px;
  
    // /* 行间距 1.6 */
    // line-height: 1.6;
  
    // /* 文字两端对齐 */
    // text-align: justify;
    text-align:justify    
  }

.main-content {
    max-width: 137rem;
}